html,body{
    min-height: 100%;
    width: 100%;
    margin:0px;
    position: absolute;
    background-image: url(Images/woodboard.jpeg);
    background-size: cover;
    
}

.board{
    position: absolute;
    background-image: url(Images/Swietenia_macrophylla_wood.jpg);
    float: left;
    width: 100%;
    min-height: 100%;
}

.navbar{
    margin: 0px;
}

.teamimg{
    max-width: 100%;
    border-style: solid;
    border-width: 10px;
    max-height: 500px;
}

.inhalt{
    margin-bottom: 6vh;
}

.card {
    box-shadow: 20px 19px 2px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: dimgrey;
    max-width: 500px;

}

@media(max-width: 1440px){
    .card{
        max-width: 400px;
    }
    

}

@media(max-width: 1200px){
	.col-lg-4{
		margin-bottom: 6vh;
	}
}

.sector{
    color: whitesmoke;
    font-size: 18px;
    font-family: monospace;
    border-style: dashed;
}

.teamimg:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.pbutton{
    margin-bottom: 0px;
}



#ueberschrift{
    
    text-align: center;
    color: black;
    font-weight: 500;
    font-family: 'Alfa Slab One';
    
}

.cardwrapper{
    
}

.brandimg{
	max-width:50px;
}




.textme{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}