@CHARSET "UTF-8";

body, html {
	height: 100%;
}

#Start {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* The hero image */
.hero-image {
	/* The image used */
	background-image: url("Images/6.jpg");
	/* Set a specific height */
	height: 10%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	flex-grow: 1;
	background-attachment: fixed;
}

.hero-image1 {
	/* The image used */
	background-image: url("Images/heroimage_kuppel.jpeg");
	/* Set a specific height */
	height: 10%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	overflow: auto;
	position: relative;
	flex-grow: 1;
	background-attachment: fixed;
}

.hero-image2 {
	/* The image used */
	background-image: url("Images/heroImageErrorPage.jpg");
	/* Set a specific height */
	height: 10%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	flex-grow: 1;
	background-attachment: fixed;
}

/* Place text in the middle of the image */
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	font-weight: bold;
	font-family: monospace;
}

#navbarStartseite {
	margin-bottom: 0px;
}

#c1{
	position: relative;
	top: 10%;
	padding-bottom: 15px;
}

@media(min-width:768px){
#headerStart {
	font-size: 5vw;
}

#textStart {
	font-size: 2vw;
}
}