.trennstrich {
	border-bottom-style: solid;
	border-bottom-width: thin;
}



@media(max-width:768px){
    .inhalt{
    padding-top: 0vh;
    padding-bottom: 0vh;
}
}
@media(min-width:768px){
.inhalt{
    padding-top: 5vh;
    padding-bottom: 5vh;
}    
.infotext{
	font-size: 1.5vw;
}
}

.underheader{
    text-align: center;
}

.infotext{
    color: dimgray;
  
}

.text {
	display: inline;
}

