@CHARSET "ISO-8859-1";

.term{
	background-color: gray;
	border: medium;
	border: solid;
	display: inline-block;
	margin-left: 5px;
	padding: 5px;
		    transition-duration: 0.4s;
	
	
}

.term:HOVER {
-webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
}

