@CHARSET "ISO-8859-1";

.term{
	background-color: gray;
	border: medium;
	border: solid;
	display: inline-block;
	margin-left: 5px;
	padding: 5px;
		    transition-duration: 0.4s;
	cursor: default;
	
	
}

.term:HOVER {
-webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
}

#mymodal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    background-color: red;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}

#modal-content{
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}